<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffe House</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="containerfull padd20">
        <div class="container">
            <div class="logo col2"><img src="images/logo-bahozone-03-icon-h80.png" height="40" alt=""></div>
            <div class="menu col8">
                <a href="#">TRANG CHỦ</a>
                <a href="#">GIỚI THIỆU</a>
                <a href="#">SẢN PHẨM</a>
                <a href="#">DỊCH VỤ</a>
                <a href="#">LIÊN HỆ</a>
            </div>
        </div>
    </div>
    <div class="containerfull">
        <div class="bgbanner">DƠN HÀNG</div>
    </div>

    <section class="containerfull">
        <div class="container">
            <h2>Cảm ơn quý khách. Đơn hàng đã đặt thành công. <br>
            Quý khách có thể theo dõi đơn hàng <a href="index.php?pg=donhang&idbill=1">tại đây</a>!
            </h2>


        </div>
    </section>




    <footer class="containerfull padd50">
        Copyright&copy;2023. MSSV + Tên SV
    </footer>

    

</body>

</html>