<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffe House</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="containerfull padd20">
        <div class="container">
            <div class="logo col2"><img src="images/logo-bahozone-03-icon-h80.png" height="40" alt=""></div>
            <div class="menu col8">
                <a href="#">TRANG CHỦ</a>
                <a href="#">GIỚI THIỆU</a>
                <a href="#">SẢN PHẨM</a>
                <a href="#">DỊCH VỤ</a>
                <a href="#">LIÊN HỆ</a>
            </div>
        </div>
    </div>
    <img src="" alt="" width="80px">
    <div class="containerfull">
        <div class="bgbanner">REGISTER</div>
    </div>

    <section class="containerfull">
        <div class="container">
            <div class="col9 reg">
                <h2>Đăng ký thành viên</h2>
                <form action="#" method="post">
                  
                      <label for="email"><b>Email</b></label>
                      <input type="text" placeholder="Enter Email" name="email" id="email" required>
                  
                      <label for="psw"><b>Mật khẩu</b></label>
                      <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
                  
                      <label for="psw-repeat"><b>Nhập lại mật khẩu</b></label>
                      <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
                      <hr>
                  
                      
                      <button type="submit" class="registerbtn">Đăng ký</button>
                  
                    
                  </form>
        </div>
        <div class="col3">
            <h2>ĐĂNG NHẬP</h2>
            <form action="#" method="post">
                  
                <label for="email"><b>Email</b></label>
                <input type="text" placeholder="Enter Email" name="email" id="email" required>
            
                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
            
                <button type="submit" class="registerbtn">Login</button>
            
              
            </form>
            <p>Bạn có tài khoản trên hệ thống website để có thể dễ dàng đặt hàng cũng như gửi thông tin bình luận về một sản phẩm</p>
        </div>


        </div>
    </section>




    <footer class="containerfull padd50">
        Copyright&copy;2023. MSSV + Tên SV
    </footer>

</body>

</html>